:root {
    --c1: #f4ebd0;
    --c2: #fff;
}


#home-hero {
    background: var(--c1);
    margin-top: 0px !important;
}

body {
    background: var(--c2);
    color: #444;
}

.task-checks pre {
    padding: 10px;
    border-radius: 5px;
    background: #eee;
    border: 1px solid #ddd;
}