{% extends "base.html" %}

{% macro SuccessTaskIcon() %}
<span class="text-success">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16"> <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </svg>
</span>
{% endmacro %}

{% macro CurrentTaskIcon() %}
<span class="text-warning">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
  </svg>
</span>
{% endmacro %}

{% macro FailingTaskIcon() %}
<span class="text-danger">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
  </svg>
</span>
{% endmacro %}

{% macro PendingTaskIcon() %}
{# nothing #}
{% endmacro %}

{% block content %}
  <div class="my-3">
    <div class="mb-3">
      <h1 class="mb-0">{{app.name}}</h1>
      <a href="https://{{ app.name }}.rajdhani.pipal.in" class="text-decoration-none" target="_blank">
        Visit website
      </a>
    </div>
    <div>{{app.score}} tasks completed | Current Task: {{ app.current_task }} | Last updated {{datestr(app.last_updated) }}</div>
  </div>

  <h2>Tasks</h2>

  {% for task in tasks %}

  {% set task_status = app.get_task_status(task.name) %}

  {% set card_style = 'border-success text-success'     if task_status.status == 'pass' else (
                      'border-warning'                  if task.name == app.current_task else (
                      'border-danger text-danger'       if task_status.status == 'fail' else
                      'border-secondary text-secondary' )) %}

  {% set task_icon = SuccessTaskIcon    if task_status.status == 'pass' else (
                     CurrentTaskIcon    if task.name == app.current_task else (
                     FailingTaskIcon    if task_status.status == 'fail' else
                     PendingTaskIcon )) %}

  <div class="card my-2 {{ card_style }}">
    <div class="card-body py-3">
      {% set task_id = "task-%d"|format(loop.index) %}
      <a href="#{{ task_id }}" data-bs-toggle="collapse" class="text-decoration-none" style="color: inherit;">
        <div class="d-flex justify-content-between">
          <h5 class="card-title mb-0">Task {{loop.index}}: {{task.title}}</h5>
          <div>{{ task_icon() }}</div>
        </div>
      </a>
      <div class="collapse {{ 'show' if task.name == app.current_task }}" id="{{ task_id }}">
        <p class="card-text">{{markdown_to_html(task.description)}}</p>

        <p class="text-muted">
        {% if task_status %}
          <p>Status: {{task_status.status}}</p>

          <h5>Checks</h5>
          <ul class="task-checks">
            {% for check in task_status.checks %}
              <li>{{check.status}} - {{check.title}}
                {% if check.message %}<br><pre>{{check.message}}</pre>{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          Status: Pending
        {% endif %}

        <pre></pre>

        </p>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="my-3">
    <h2>Change Log</h2>
    {% for entry in app.get_changelog() %}
    <div>{{datestr(entry.timestamp)}} - {{entry.type}} - {{entry.message}}</div>
    {% endfor %}
  </div>

  {% endblock %}
