{% extends "base.html" %}

{% block page %}
<div class="px-4 py-5 my-5 text-center" id="home-hero">
    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold">Treadmill</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Some placeholder.</p>
      <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div> -->
    </div>
</div>

<div id="leader-board" class="container">
  <h2 class="text-center2">Leader Board</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tasks Completed</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
      <tr>
        <td><a href="/{{app.name}}">{{app.name}}</a></td>
        <td>{{app.score}}</td>
        <td>{{datestr(app.last_updated)}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
